$step: 4;

@for $i from 0 through 16 {
  $size: $i * $step;

  .h-#{$size}px {
    height: 1px * $size !important;
  }

  .m-#{$size}px {
    margin: 1px * $size !important;
  }

  .mt-#{$size}px {
    margin-top: 1px * $size !important;
  }

  .mr-#{$size}px {
    margin-right: 1px * $size !important;
  }

  .mb-#{$size}px {
    margin-bottom: 1px * $size !important;
  }

  .ml-#{$size}px {
    margin-left: 1px * $size !important;
  }

  .p-#{$size}px {
    padding: 1px * $size !important;
  }

  .pt-#{$size}px {
    padding-top: 1px * $size !important;
  }

  .pr-#{$size}px {
    padding-right: 1px * $size !important;
  }

  .pb-#{$size}px {
    padding-bottom: 1px * $size !important;
  }

  .pl-#{$size}px {
    padding-left: 1px * $size !important;
  }
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}
